<li>AUTHOR: {{board.author}}:
  <br>
  <br>
  QUESTION:  {{board.question}}:
  <br>
  <br>
    {{update-board board=board update="update"}}
    <button {{action 'delete' board}}>Delete</button>
</li>
