


<li class="box">
  {{#link-to 'board' board.id}}AUTHOR: {{board.author}}:
  <hr>
  
  <br>
  QUESTION:
  <br>
   {{board.question}}
  <br>
  <br>
  NOTES: {{board.note}}
  {{/link-to}}
  <br>
  <br>

</li>
