{{#each favoriteBoard.board as |board|}}
<hr>
<div class="box">
  <ul>
    <li><h1>{{board.author}}'s
      <br>
      <br>
      Question:
      <br>
      <br>
      {{board.question}}</h1>
    </li>
  </ul>
</div>
{{/each}}
