

h1 {
  text-align: center;;
  font-weight: bold;
  font-family: cursive;
  color: black;
}


 h2 {
   font-weight: bold;
  font-family: cursive;
  color: black;
}
.box {
  font-weight: bold;
  text-align: center;
  font-family: cursive;
  color: white;
  font-size: 1.5em;
  border: 3px solid black;
  background-color: darkblue;
  width: 300px;
  height: 300px;
    margin: auto;

}

a {
  color: white;


}

.glyphicon {
  color: red;
  font-size: 10em;


}



body {
  background-attachment: fixed;
background-position: center;
  background-size: cover;
    background-image: url("http://cdn1.itpro.co.uk/sites/itpro/files/images/dir_215/it_photo_107887.jpg");
    opacity: 0.7;
    filter: alpha(opacity=10);

}
button {

  color: white;
  font-family: cursive;
  background-color: green;
  opacity: 2.0;
  filter: alpha(opacity=10);
  border-radius: 25px;
  border: 1px solid green;
  padding: 12px 28px;

}

p {
  color: black;
  font-weight: bold;
}

.answer {
  font-weight: bold;
  text-align: center;
  font-family: cursive;
  color: white;
  font-size: 1.5em;
  border: 3px solid black;
  background-color: darkblue;
  width: 300px;
  height: 300px;
    margin: auto;

}
