<div class= "container">
  <header class= "jumbotron">
    <h1>Q&A Board</h1>
  </header>
    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}no help!!{{/link-to}}
    {{#link-to 'index'}}home{{/link-to}}
  </footer>
</div>
