<h1>Welcome to Q&A Board</h1>

You have questions?..... We got answers!!

<ul>
  {{#each model as |board|}}
    {{board-tile board=board}}
  {{/each}}
</ul>


{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}contact us.{{/link-to}}
