


<br>
<br>

<ul>
  {{#each model.board as |board|}}
  {{board-popularity board}}  {{board-tile board=board}}
  <button {{action 'addToFavorites' board}}>Add To Favorites</button>
  <br>
  <hr>
  {{/each}}
</ul>

{{new-board saveBoard="saveBoard"}}
<br>
