

<h1>You have questions?..... We got answers!!</h1>
<br>
<br>

<ul>
  {{#each model.board as |board|}}
  {{answer-popularity answer}}  {{board-tile board=board}}
    <hr>
  {{/each}}
</ul>

{{new-board saveBoard="saveBoard"}}
<br>
